Binaries/
DerivedDataCache/
Intermediate/
Saved/
StarterContent/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# FMOD studio
/Plugins/FMODStudio
/FMOD Project/*.user
/FMOD Project/*.unsaved
/FMOD Project/*.cache
/FMOD Project/*.restore

Intermediate/AssetRegistryCache/311563bb.bin
Intermediate/AssetRegistryCache/c90e3f55.bin
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/Game/Maps/Hospital_Auto1.umap
Saved/Autosaves/Game/Maps/Hospital_Auto2.umap

Source/HotPotatoSimulator/FP_FirstPerson/FP_FirstPersonCharacter.h
Source/HotPotatoSimulator/FP_FirstPerson/FP_FirstPersonCharacter.cpp
Source/HotPotatoSimulator/FP_FirstPerson/FP_FirstPerson.h
Content/FirstPersonCPP/Maps/FirstPersonExampleMap.umap
Content/FirstPersonCPP/Blueprints/FirstPersonCharacter.uasset
Content/FirstPerson/Textures/FirstPersonCrosshair.uasset
Content/FirstPerson/Meshes/FirstPersonProjectileMesh.uasset
Content/FirstPerson/Meshes/FirstPersonProjectileMaterial.uasset
Content/FirstPerson/Meshes/CubeMaterialOverride.uasset
Content/FirstPerson/Meshes/BaseMaterial.uasset
Content/FirstPerson/FPWeapon/Textures/T_FPGun_N.uasset
Content/FirstPerson/FPWeapon/Textures/T_FPGun_M.uasset
Content/FirstPerson/FPWeapon/Mesh/SK_FPGun_Skeleton.uasset
Content/FirstPerson/FPWeapon/Mesh/SK_FPGun_PhysicsAsset.uasset
Content/FirstPerson/FPWeapon/Mesh/SK_FPGun.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_FineRubber.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/FirstPerson/Character/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/FirstPerson/Character/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/FirstPerson/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/FirstPerson/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/FirstPerson/Character/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Source/HotPotatoSimulator/FP_FirstPerson/FP_FirstPersonHUD.h
Source/HotPotatoSimulator/FP_FirstPerson/FP_FirstPersonHUD.cpp
Source/HotPotatoSimulator/FP_FirstPerson/FP_FirstPersonGameMode.h
Source/HotPotatoSimulator/FP_FirstPerson/FP_FirstPersonGameMode.cpp
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_Screen.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/FirstPerson/FPWeapon/Materials/M_FPGun.uasset
Content/FirstPerson/Character/Textures/UE4_Mannequin__normals.uasset
Content/FirstPerson/Character/Textures/UE4_Mannequin_MAT_MASKA.uasset
Content/FirstPerson/Character/Textures/UE4_LOGO_CARD.uasset
Content/FirstPerson/Character/Mesh/SK_Mannequin_Arms_Skeleton.uasset
Content/FirstPerson/Character/Mesh/SK_Mannequin_Arms_PhysicsAsset.uasset
Content/FirstPerson/Character/Mesh/SK_Mannequin_Arms.uasset
Content/FirstPerson/Character/Mesh/FirstPersonAnimBlueprint_Copy.uasset
Content/FirstPerson/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/FirstPerson/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/FirstPerson/Character/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/FirstPerson/Character/Materials/M_UE4Man_Body.uasset
Content/FirstPerson/Audio/FirstPersonTemplateWeaponFire02.uasset
Content/FirstPerson/Animations/FirstPerson_Run.uasset
Content/FirstPerson/Animations/FirstPerson_JumpStart.uasset
Content/FirstPerson/Animations/FirstPerson_JumpLoop.uasset
Content/FirstPerson/Animations/FirstPerson_JumpEnd.uasset
Content/FirstPerson/Animations/FirstPerson_Idle.uasset
Content/FirstPerson/Animations/FirstPerson_Fire.uasset
Content/FirstPerson/Animations/FirstPerson_AnimBP.uasset
Content/FirstPerson/Animations/FirstPersonFire_Montage.uasset
Content/EnvironmentTextures/OfficeCeilingTiles/TexturesCom_OfficeCeiling_1K_roughness.png
Content/EnvironmentTextures/OfficeCeilingTiles/TexturesCom_OfficeCeiling_1K_normal.png
Content/EnvironmentTextures/OfficeCeilingTiles/TexturesCom_OfficeCeiling_1K_height.png
Content/EnvironmentTextures/OfficeCeilingTiles/TexturesCom_OfficeCeiling_1K_ao.png
Content/EnvironmentTextures/OfficeCeilingTiles/TexturesCom_OfficeCeiling_1K_albedo.png
