Binaries
DerivedDataCache
Intermediate
Saved
StarterContent/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# FMOD studio
/Plugins/FMODStudio
/FMOD Project/*.user
/FMOD Project/*.unsaved
/FMOD Project/*.cache
/FMOD Project/*.restore

